name: compliance_radar
channels:
  - conda-forge
  - defaults

dependencies:
  - python=3.10
  - numpy
  - pandas
  - scikit-learn
  - matplotlib
  - seaborn
  - xgboost
  - shap
  - sqlalchemy
  - jupyter
  - pip
  - pip:
      - ipykernel
